{% extends 'base.html' %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
    <div class="container">
        <h2>Editar Perfil</h2>
        <form method="POST" enctype="multipart/form-data">  <!-- Añadimos enctype para permitir subida de archivos -->
            {% csrf_token %}
            {{ form.as_p }}
            {{ perfil_form.as_p }}  <!-- Mostrar el formulario de avatar -->
            <h4>Cambiar Contraseña</h4>
            {{ password_form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    </div>
{% endblock %}
