{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<section class="page-section login-section py-5" style="color: black;"> <!-- Color negro para el texto -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card border-0 shadow-sm">
                    <div class="card-body p-5">
                        <h2 class="card-title text-center mb-4" style="color: black;">Iniciar Sesión</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ form.as_p }}
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
                        </form>
                        <div class="mt-3 text-center">
                            <p style="color: black;"><a href="{% url 'registro' %}" class="btn btn-link" style="color: black;">¿No tienes usuario? Crea uno nuevo para ti!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
